label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
input[type="text"] {
    text-align: center;
    display: block;
    margin: 0 auto 15px auto;
}
input[type="checkbox"] {
    text-align: center;
    display: block;
    margin: 0 auto 15px auto;
 
}

figure {
    position: relative;
    display: inline-block;
    margin: 0;
}


figure img {
    width: 100%;
    border-radius: 15px;
    display: block;
}


figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 5px 10px;
    border-radius: 5px;
}
nav{
    background-color: rgb(61, 237, 137); 
    text-align: center;
    font-size: 15px;
}
.links-tag{
    text-decoration: none;
     color: rgb(32, 31, 31); 
     text-size-adjust: 6px;
}
.my-heading h2{
    font-size: 30px;
     text-align: center;
}
/* .my-heading p{
    color: rgb(255, 92, 33);
    font-size: 25px; 
    text-align: center;
} */
button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .my-button{
    background-color: rgb(193, 242, 170);
    text-size-adjust: 7px; 
    width: 95px;
     height: 40px; 
    border: none;
    border-radius: 12px;
    margin-top: 30px;
    cursor: pointer;
  }
  .my-button:hover {
    background-color: #6ec66e; /* a darker on hover */
  }
  
.home-image{
    height: 650px;
    width: 100%;
    max-width: 1432px;
    display: block;
    margin: 15px auto 0 auto; /* spacing between button and image */
}
.second-heading{
    font-size: 30px; 
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(32, 31, 31); 
    text-size-adjust: 6px;
}

.care-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    padding: 20px;
    margin-top: 10px;
}
.care-grid div {
    background-color: #dbd3bf;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px
    rgba(0, 0, 0, 0.05);
    /* transition: transform 0.3s; */

}
/* text styling */
.care-grid h2{
margin-top: 0;
 font-size: 19px;
 color: #333;
}
.care-grid p{
    font-size: 14px;
    line-height: 1.5;
}

.care-grid h1{
    font-size: 40px; 
    text-align: center;
    margin: 0 auto;
}