label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
input[type="text"] {
    text-align: center;
    display: block;
    margin: 0 auto 15px auto;
}
input[type="checkbox"] {
    text-align: center;
    display: block;
    margin: 0 auto 15px auto;
 
}

figure {
    position: relative;
    display: inline-block;
    margin: 0;
}


figure img {
    width: 100%;
    border-radius: 15px;
    display: block;
}


figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 5px 10px;
    border-radius: 5px;
}
nav{
    background-color: #acee26;
    text-align: center;
    font-size: 15px;
}
.links-tag{
    text-decoration: none;
     color: rgb(32, 31, 31); 
     text-size-adjust: 6px;
}
.my-heading h2{
    font-size: 30px;
     text-align: center;
    font-family: sans-serif;
}
.my-heading p{
    color: #0fb317d4;
    font-size:20px;
    font-weight: 520;
    font-style: italic;
    margin-bottom: 7px;
   text-align: center;
}
.my-heading h3{
    color: #4B3832;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.btn-styl{
    text-align: center;
}
button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .my-button{
    background-color: rgb(193, 242, 170);
    text-size-adjust: 7px; 
    width: 95px;
     height: 40px; 
    border: none;
    border-radius: 12px;
    margin-top: 30px;
    cursor: pointer;
  }
  .my-button:hover {
    background-color: #6ec66e; /* a darker on hover */
  }
  
.home-image{
    height: 650px;
    width: 100%;
    max-width: 1432px;
    display: block;
    margin: 15px auto 0 auto; /* spacing between button and image */
}
.second-heading{
    font-size: 30px; 
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(32, 31, 31); 
    text-size-adjust: 6px;
}
.my-footer{
    text-align: center;
}

.care-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    padding: 20px;
    margin-top: 10px;
}
.care-grid div {
    background-color: #dbd3bf;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px
    rgba(0, 0, 0, 0.05);
    /* transition: transform 0.3s; */

}
/* text styling */
.care-grid h2{
margin-top: 0;
 font-size: 19px;
 color: #333;
}
.care-grid p{
    font-size: 14px;
    line-height: 1.5;
}

.care-grid h1{
    font-size: 40px; 
    text-align: center;
    margin: 0 auto;
}
.my-aboutus h2{
    text-align: center; 
    background-color: rgb(115, 187, 115);
}
.my-aboutus p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.my-looksheading h3 {
 font-size: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.my-looksheading h5{
    font-size: 15px;
    font-style: normal;
}
.my-looks {
    columns: 3;              /* 3 columns on large screens */
    column-gap: 20px;
    padding: 20px;
  }
  
  .my-looks-items {
    background-color:  #fff;
    margin-bottom: 20px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .my-looks-items img {
    width: 200px;        /* change to column width*/
   height: auto;
    border-radius: 10px;
  }
  
  .my-looks-items:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  }

  .captions {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }

  
  /*  Mobile Screen*/
  @media (max-width: 600px) {
    .my-looks {
      columns: 1;
    }
  }
  
  /*Tablet screen*/
  @media (max-width: 900px) {
    .my-looks {
      columns: 2;
    }
  }
#backToTop:hover {
        background-color: #e3bf4a;
}
.my-collection{
    columns: 3;             
    column-gap: 25px;
    padding: 25px;
    justify-items: center;
}

.my-collection-items{
    width: 200px;
    border-radius: 10px;
    position: relative;
}

.my-collection-items img{
    width: 200px;
    display: block;
    border-radius: 10px;
} 
.text-overlay{
    background-color:rgba(63, 60, 60, 0.281) ;
    color: whitesmoke;
    text-align: center;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}   

@media (max-width: 900px) {
    .my-collection {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .my-collection {
      grid-template-columns: 1fr;
    }
  
    .text-overlay {
      font-size: 14px;
      padding: 8px 0;
    }
  }
  .my-collection-items:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  }

.my-checkout{
    width: 500px;
    margin: 35px;
    padding: 25px;
    border-radius: 16px;
    background-color: #d8f8d6;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) ;
    text-align: center;
    font-family: sans-serif;
}
.my-checkout h2{
    font-style: normal;

}
  



